html{
	background-color:blue;
}


h1{
	text-align:center;
	font-size:500%;
	line-height:2.0;
	color:red;
}


h2{
	text-align:center;
	font-size:200%;
	font-style:italic;
	text-decoration:underline;
	color:yellow;
}
